*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
    background: #FCF7F7;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px ;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ---------------------------я пеидж -------------------------------------*/
.page {
    flex: 1 1 auto;
}
/*---------------------------- я шапка --------------------------------- */
.header {
    background: rgba(176, 183, 187, 0.4);
    height: 100px;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 100px;
}
.img-logo {
    width: 100px;
    height: 100px;
    margin-left: 31px;
}
@media (max-width:1200px) {
    .img-logo{
        margin-left:10px;
    }
}
@media (max-width:1100px) {
    .img-logo{
        margin-left:0px;
    }
}
@media (max-width:458px) {
    .img-logo{
        display: none;
    }
}
.lodo-text {
    font-family: 'Moulpali';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 88px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin: 6px 0 6px 0;
    width: 312px;
    max-height: 100px;
}
@media (max-width:984px) {
    .lodo-text{
        font-size: 30px;
        width: 235px;
    }
}
@media (max-width:514px) {
    .lodo-text{
        font-size: 25px;
        width: 196px;
    }
}
@media (max-width:332px) {
    .lodo-text{
        font-size: 22px;
        width: 178px;
    }
}

.socials {
    margin-left: 340px;
    align-items: center;
    display: flex;
}
@media (max-width:1172px) {
    .socials{
        margin-left: 260px;
    }
}
@media (max-width:1182px) {
    .socials{
        margin-left: 160px;
    }
}
@media (max-width:860px) {
    .socials{
        margin-left: 60px;
    }
}
@media (max-width:760px) {
    .socials{
        margin-left: 35px;
    }
}
@media (max-width:734px) {
    .socials{
        margin-left: 234px;
    }
}
@media (max-width:714px) {
    .socials{
        margin-left: 134px;
    }
}
@media (max-width:612px) {
    .socials{
        margin-left: 64px;
    }
}
@media (max-width:546px) {
    .socials{
        margin-left: 24px;
    }
}
@media (max-width:356px) {
    .socials{
        margin-left: 10px;
    }
}

.tg {
    height: 45px;
    width: 45px;
    z-index: 99;
    margin: 28px 26px 27px 0;
}
@media (max-width:904px) {
    .tg{
        margin-right: 12px;
    }
}
@media (max-width:476px) {
    .tg{
        margin-right: 6px;
    }
}

.viber {
    height: 45px;
    width: 45px;
    z-index: 99;
    margin-right: 42px;
}
@media (max-width:904px) {
    .viber{
        margin-right: 12px;
    }
}
@media (max-width:476px) {
    .viber{
        margin-right: 0px;
    }
}

.phone-block {
    display: flex;
    flex-direction: column;
}
@media (max-width:736px) {
    .phone-block{
        display: none;
    }
}
.number-phone {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    transition: all linear 0.4s;
    margin-bottom: 6px;
}
.number-phone:hover {
    color: #fdb734;
    transition: all linear 0.4s;
}

@media (max-width:1044px) {
    .number-phone{
        color: #000;
    }
}

.number-phone1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    transition: all linear 0.4s;
}
.number-phone1:hover {
    color: #fdb734;
    transition: all linear 0.4s;
}
@media (max-width:1044px) {
    .number-phone1{
        color: #000;
    }
}

/*---------------------------- я меин блок --------------------------------- */
.main-block {
    position: relative;
}
.main-block_body{
    position: relative;
    z-index: 2;
    max-width: 762px; 
    padding: 120px 0px 58px 0px;
    
}


.first-text {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 21px;
    margin-left: 40px;
    width: 762px;
}

@media (max-width:824px) {
    .first-text {
        font-size: 30px;
        margin-left: 20px;
    }
}
@media (max-width:824px) {
    .first-text {
        text-align: left;
    }
}
@media (max-width:632px) {
    .first-text {
        margin-left: 0PX;
    }
}
@media (max-width:606px) {
    .first-text {
        font-size: 25px;
    }
}
@media (max-width:510px) {
    .first-text {
        font-size: 22px;
    }
}
@media (max-width:450px) {
    .first-text {
        font-size: 20px;
        width: 435px;
    }
}
@media (max-width:412px) {
    .first-text {
        font-size: 15px;
    }
}
.second-text {
    font-weight: 300;
    font-size: 48px;
    line-height: calc(59 / 48 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #54545A;
    max-width: 437px;
    margin-left: 118px;
    margin-bottom: 51px;
}
@media (max-width:768px) {
    .second-text {
        font-size: 34px;
    }
}
@media (max-width:606px) {
    .second-text {
        font-size: 28px;
        color:black ;
    }
}
@media (max-width:450px) {
    .second-text {
        font-size: 24px;
    }
}
@media (max-width:462px) {
    .second-text {
        margin-left: 19px;
    }
}

.call {
    background: #f8b943;
    border-radius: 36px; 
    min-height: 66px;
    margin-left: 91px;
    max-width: 282px;
    padding:  19px 16px 18px 20px;
    display: flex;
    cursor: pointer;
    transition: all linear 0.4s;
}
.call:hover {
    background: #5daef0;
    transition: all linear 0.4s;

}
@media (max-width:400px) {
    .call {
        margin-left: 0px;
    }
}
.button-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    margin: 0 0 0 7px;
    
}

.main-block_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


@media (max-width: 1500px) {
    .main-block_image img {
       object-position: right;
    }
}

@media (max-width: 1044px) {
    .main-block_image img {
        opacity: 0.5;
    }
}
/* --------------------------------------------- facts ------------------------------------------------------*/
.container-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why {
    margin: 49px 221px 63px 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.facts-title {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(59 / 48 *100%);
    text-align: center;
    color: #000;
    margin: 0 94px 13px 95px;
}

.facts-text-descr {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.facts-descr {
    max-width: 890px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
@media (max-width: 520px) {
    .facts-descr {
       width: 400px;
    }
}
@media (max-width: 520px) {
    .facts-descr {
       font-size: 20px;
       width: 320px;
    }
}
.second-descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin-bottom: 28px;
    flex-wrap: wrap;
    }
    @media (max-width: 520px) {
        .second-descr {
           width: 400px;
        }
    }
    @media (max-width: 520px) {
        .second-descr {
           font-size: 20px;
           width: 320px;
        }
    }
.facts-subtitle {
    font-weight: 600;
    font-size: 36px;
    line-height: calc(44 / 36 * 100%);
    text-align: center;
    color: #000;
    margin: 0 191px;
}
.block-facts {
    margin: 0 66px 33px 66px;
    display: inline-flex;
    flex-wrap: wrap;
}
@media (max-width: 1100px) {
    .block-facts {
        margin: 0 0 79px 37px;
    }
}
@media (max-width: 1016px) {
    .block-facts {
        justify-content: center;
    }
}
.block-facts >*:not(:last-child) {
    margin: 0 37px 30px  0;
}
.f1 {
    background: rgba(217, 217, 217, 0.3);
    height: 100%;
    width: 199px;
    padding: 33px 0;
}
.img01 {
    height: 87px;
    width: 97px;
    margin: 0 51px;
}
.f1-text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    margin: 16px 21px 0 20px;
}
.f2 {
    background: rgba(217, 217, 217, 0.3);
    min-height: 100%;
    width: 199px;
    padding: 44px 0 29px 0;
}
.img02 {
    height: 78px;
    width: 78px;
    margin: 0 61px;
}
.f2-text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin: 28px 20px 0 20px;
}
.f3 {
    background: rgba(217, 217, 217, 0.3);
    height: 100%;
    width: 199px;
    padding: 34px 0 12px 0;
}
.img03 {
    height: 87px;
    width: 145px;
    margin: 0 27px;
}
.f3-text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    text-align: center;
    color: #000000;
    margin-top: 12px;
}
.f4 {
    background: rgba(217, 217, 217, 0.3);
    height: 100%;
    width: 199px;
    padding: 33px 0;
}
@media (max-width: 1100px) {
    .f4 {
        margin-right: 37px;
    }
}
.img04 {
    height: 100px;
    width: 100px;
    margin: 0 50px;
}
.f4-text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin-top: 3px;
}
/*-----------------------------------------roadmap----------------------------------------------------*/
.roadmap {
    display: flex;
    flex-direction: column;
}
.roadmap-title {
    margin: 0 344px 55px 344px;
}
.title-text {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(59 / 48 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000
}

.roadmap-four-how {
    margin: 0 66px 84px 66px;
    display: inline-flex;
    flex-wrap: wrap;
 }
 @media (max-width: 1100px) {
    .roadmap-four-how {
        margin: 0 0 84px 37px;
    }
}

@media (max-width: 1016px) {
    .roadmap-four-how {
        justify-content: center;
    }
}


.how1 {
    background: #FFF;
    min-height: 100%;
    width: 199px;
    padding: 26px 0px 19px 0;
    margin: 0 37px 30px 0;
}
.icon1 {
    height: 100px;
    width: 100px;
    margin: 0 50px 50px 50px;
    
}
.how1-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;  
    color: #000;
    margin: 0 17px;
}
.how2 {
    background: #FFF;
    min-height: 100%;
    width: 199px;
    padding: 26px 0 19px 0;
    margin: 0 37px 30px 0;
}
.icon2 {
    height: 100px;
    width: 100px;
    margin: 0 50px 50px 50px;
    
}
.how2-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000;
    margin: 0 14px;
}
.how3 {
    background: #FFF;
    min-height: 100%;
    width: 199px;
    padding: 26px 0px 41px 0;
    margin: 0 37px 30px 0;
}
.icon3 {
    height: 100px;
    width: 100px;
    margin: 0 50px 50px 43px;
    
}
.how3-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;  
    color: #000;
    margin: 0 17px;
}
.how4 {
    background: #FFF;
    min-height: 100%;
    width: 199px;
    padding: 26px 0px 24px 0;
    margin: 0 37px 30px 0;
}
.icon4 {
    height: 100px;
    width: 100px;
    margin: 0 50px 50px 50px;
    
}
.how4-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;  
    color: #000;
    margin: 0 14px 0 14px;
}
/*------------------------------------------------------goals----------------------------------------------------------------*/
.goals-section-title{
 margin: 0 245px 34px 245px;
}
.title {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(59 / 48 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.goals-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

.goal1 {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29 / 24 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin: 0 102px 22px 797px;
}
@media (max-width: 920px){
    .goal1 {
        margin: 0 102px 22px 700px;
    }
}
@media (max-width: 728px){
    .goal1 {
        margin: 0 102px 22px 625px;
    }
}
@media (max-width: 604px){
    .goal1 {
        margin: 0 102px 22px 575px;
    }
}
@media (max-width: 529px){
    .goal1 {
        margin: 0 102px 22px 517px;
    }
}
@media (max-width: 412px){
    .goal1 {
        margin: 0 102px 22px 472px;
    }
}
.goal2 {
    font-weight: 600;
    font-size: 26px;
    line-height: calc(32 / 26 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin: 0 923px 19px 45px;
}
@media (max-width: 1080px){
    .goal2 {
        margin: 0 789px 19px 179px;
    }
}
@media (max-width: 808px){
    .goal2 {
        margin: 0 678px 19px 286px;
    }
}
@media (max-width: 594px){
    .goal2 {
        margin: 0 562px 19px 355px;
    }
}
@media (max-width: 406px){
    .goal2 {
        margin: 0 518px 19px 398px;
    }
}
.goal3 {
    font-weight: 300;
    font-size: 20px;
    line-height: calc(24 / 20 * 100%);
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 324px 41px 404px;
}
@media (max-width: 670px){
    .goal3 {
        margin: 0  360px 41px 404px;
    }
}
.goal4 {
    font-weight: 900;
    font-size: 22px;
    line-height: calc( 27 / 22 * 100%);
    color: #000000;
    margin: 0 45px 20px 878px;
}
@media (max-width: 1080px){
    .goal4 {
        margin: 0 181px 20px 742px;
    }
}
@media (max-width: 808px){
    .goal4 {
        margin: 0 181px 20px 634px;
    }
}
@media (max-width: 594px){
    .goal4 {
        margin: 0 181px 20px 565px;
    }
}
@media (max-width: 508px){
    .goal4 {
        margin: 0 181px 20px 443px;
    }
}
.goal5 {
    margin: 0 533px 36px 84px;
    font-weight: 400;
    font-size: 40px;
    line-height: calc(49 / 40 * 100%);
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
@media (max-width: 976px){
    .goal5 {
        margin: 0  292px 36px 150px;
    }
}
@media (max-width: 670px){
    .goal5 {
        margin: 0  243px 36px 234px;
    }
}
@media (max-width: 540px){
    .goal5 {
        margin: 0  463px 36px 296px;
    }
}
@media (max-width: 489px){
    .goal5 {
        margin: 0  298px 36px 296px;
    }
}
.goal6 {
    margin: 0 71px 10px 618px;
    font-weight: 200;
    font-size: 38px;
    line-height: calc(46 / 38 * 100%);
    color: #000000;
}
@media (max-width: 1006px){
    .goal6 {
        margin: 0 71px 10px 479px;
    }
}
@media (max-width: 728px){
    .goal6 {
        margin: 0 71px 10px 389px;
    }
}
@media (max-width: 594px){
    .goal6 {
        margin: 0 71px 10px 349px;
    }
}
@media (max-width: 517px){
    .goal6 {
        margin: 0 71px 10px 323px;
    }
}
@media (max-width: 467px){
    .goal6 {
        margin: 0 187px 10px 472px;
    }
}
.goal7 {
    margin: 0 902px 35px 84px;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(49 / 40 * 100%);
    color: #000000;
}
@media (max-width: 1006px){
    .goal7 {
        margin: 0 789px 35px 180px;
    }
}
@media (max-width: 808px){
    .goal7 {
        margin: 0 641px 35px 226px;
    }
}
@media (max-width: 720px){
    .goal7 {
        margin: 0 505px 35px 300px;
    }
}
@media (max-width: 574px){
    .goal7 {
        margin: 0 445px 35px 356px;
    }
}
@media (max-width: 405px){
    .goal7 {
        margin: 0 479px 35px 399px;
    }
}
.goal8 {
    font-weight: 400;
    font-size: 28px;
    line-height: calc(34 / 28 * 100%);
    margin: 0 152px 0 901px;
}
@media (max-width: 846px){
    .goal8 {
        margin: 0 152px 0px 694px;
    }
}
@media (max-width: 483px){
    .goal8 {
        margin: 0 152px 0px 603px;
    }
}
/*-------------------------------------------table-------------------------------------------------------*/

.head-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 61px;
}
.title-table2 {
    font-weight: 200;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
@media (max-width: 594px) {
    .title-table2 {
        font-size: 22px;
    }
}
.tittle-table {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(59 / 48 * 100%);
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
@media (max-width: 594px) {
    .tittle-table {
        font-size: 22px;
    }
}
.table-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-bottom: 113px;
}
.table-container {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;                        /*адаптирование таблицы */
  }
.border-table {
    table-layout: fixed;
    border: 2px solid black;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
@media (max-width: 738px) {
    .border-table {
        font-size: 16px;
        padding: 50px 30px;
    }
}
@media (max-width: 538px) {
    .border-table {
        font-size: 14px;
        padding: 50px 15px;
    }
}
@media (max-width: 404px) {
    .border-table {
        padding: 50px 8px;
    }
}
@media (max-width: 362px) {
    .border-table {
        padding: 50px 1px;
    }
}
/*------------------------------------footer-------------------------------------------------*/
footer {
    opacity: 0.7;
    background: #7A7C7D;
    width: 100%;
    padding: 109px 26px 102px 15px;
}
.container-in-container123 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.left-block {
    border-right: solid black 0.5px;
}
@media (max-width: 761px) {
    .left-block {
        border-right: none
    }
}
.left-left {
    color: white;
    margin-right: 15px ;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 375px) {
    .left-left {
        margin-right: 0;
        margin-left: 10px;
    }
}
.footer-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    transition: all linear 0.4s;
}
.footer-text:hover {
    color: #fdb734;
    transition: all linear 0.4s;

}

.left-left >*:not(:last-child) {
    margin-bottom: 23px;
}
.center-block {
    border-right: solid black 0.5px;
}

@media (max-width: 1046px) {
    .center-block {
        border-right: none
    }
}


.center-center {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 277px;

}
@media (max-width: 375px) {
    .center-center {
        margin-left: 20px;
        margin-right: 0;
    }
}
.footer-text123{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    width:270px;
    margin-bottom: 30px;
}
@media (max-width: 375px) {
    .footer-text123 {
        width: 310px;
    }
}
.right-block {
    margin-left: 15px;
}
.right-right {
    color: white;
    margin-right: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-text321{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    width:256px;
    margin-bottom: 30px;
}